@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Пушистые булочки</title>
    <link href="~/css/Site.css" rel="stylesheet" />
    <link href="~/css/Blocks.css" rel="stylesheet" />
    <style>
    body { background-image: url('../../imagems/unnamed.png'); }
    </style>
</head>
<body>
    <a href="~/Home/Katalog">Каталог товаров</a>
    <a href="~/Home/Trash">Корзина</a>
    <a href="~/Home/Cab">Личный кабинет</a>
    <a href="~/Home/Zakaz">Офомить заказ</a> <br>

    <div class="block1">
        <h1>Серая булочка</h1>
    </div>
    <div class="block3"></div>
    <div class="block1">
        <p>Наш магазин предлагает вашему вниманию серых и пушистых булочек.</p>
    </div>
    <article>
        <footer>
            Интренет-магазин пушистых товаров "Серая булочка", 2020.<br />
            р-н Зюзино, Москва, 117638 <br />
            +7(228)-133-73-22
        </footer>
    </article>

</body>
</html>
