<!DOCTYPE html>
<html lang="en">
<head>
    <title>Пушистые булочки</title>
    <style>
        body {
            background-image: url('../../FlexImages/unnamed.png');
        }
    </style>
</head>
<body>
@RenderBody()
</body>
</html>
